<main>
        <div class="homepage">
            <div class="heart homepage-size">
                <h1>Romance</h1>
                <p>100</p>
            </div>
            <div class="para-bottom">
                <h4>
                    To my Darling
                </h4>
                <p>
                    The moment I saw you, I just knew it.<br>
                    I relaized you are all that i have been searching for<br>
                    all of my life
                </p>
            </div>
        </div>
    </main>
    <section>
        <div class="Frame layout-grid g-4 grid-gap-1">
                <div class="first_frame">
                    <div class="frame">
                        <img src="./assets//img//iskador.jpg" alt="" srcset="">
                        <div class="heart">
                            <h1>Romance</h1>
                            <p>100</p>
                        </div>
                        <div class="bottom" >
                            <h1>To my lovely birds</h1>
                        </div>
                    </div>
                <div class="first_frame">
                    <div class="frame">
                        <img src="./assets//img//iskador.jpg" alt="" srcset="">
                        <div class="heart">
                            <h1>Romance</h1>
                            <p>100</p>
                        </div>
                        <div class="bottom" >
                            <h1>To my lovely birds</h1>
                        </div>
                    </div>
                </div>
           </div>
            <div class="second_frame">
                <div class="frame">
                    <img src="./assets//img//iskador.jpg" alt="" srcset="">
                    <div class="heart">
                        <h1>Romance</h1>
                        <p>100</p>
                    </div>
                    <div class="bottom" >
                        <h1>To my lovely birds</h1>
                    </div>
                </div>
            <div class="second_frame_bottom">
                <div class="frame">
                    <img src="./assets//img//iskador.jpg" alt="" srcset="">
                    <div class="heart">
                        <h1>Romance</h1>
                        <p>100</p>
                    </div>
                    <div class="bottom" >
                        <h1>To my lovely birds</h1>
                    </div>
                </div>
            </div>
       </div>

        <div class="third_frame">
            <div class="frame">
                <img src="./assets//img//iskador.jpg" alt="" srcset="">
                <div class="heart">
                    <h1>Romance</h1>
                    <p>100</p>
                </div>
                <div class="bottom" >
                    <h1>To my lovely birds</h1>
                </div>
        </div>
        <div class="third_frame_bottom">
            <div class="frame">
                <img src="./assets//img//iskador.jpg" alt="" srcset="">
                <div class="heart">
                    <h1>Romance</h1>
                    <p>100</p>
                </div>
                <div class="bottom" >
                    <h1>To my lovely birds</h1>
                </div>
            </div>
        </div>
   </div>
            <div class="four_frame">
                <div class="frame">
                    <img src="./assets//img//iskador.jpg" alt="" srcset="">
                    <div class="heart">
                        <h1>Romance</h1>
                        <p>100</p>
                    </div>
                    <div class="bottom" >
                        <h1>To my lovely birds</h1>
                    </div>
                </div>
            </div>
        </div>
    </section>