

<div id="columns">
    <% @articles.each do |article|%>
        <figure>
            <%= image_tag(article.image.image_url) %>
            <figcaption>Cinderella wearing European fashion of the mid-1860’s</figcaption>
        </figure>
    <% end %>
</div>