
 <div class="view" style="background-image: url(<%= image_path @article.image.image_url%>);background-size: cover;">
            <div class="view-bottom layout-flex flex-item-center flex-center">
                    <div class="profile layout-flex">
                        <img src="./assets//img/img_avatar.png" alt="Avatar" style="width:200px">
                        <div>
                            <h2> KO Nyan</h2>
                        </div>
                    </div>
                    <div>
                        <h1>
                            To my Darling
                        </h1>
                    </div>
                    <div>
                        <h3>
                            The moment I saw you, I just knew it.<br>
                            I relaized you are all that i have been searching for<br>
                            all of my life
                        </h3>
                    </div>
                    <div class="view-heart layout-flex flex-center">
                        <h1>Romance</h1>
                        <h1>100</h1>
                    </div>
            </div>